.backdrop{
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.5);
}

.my-style{
  position: fixed;
  width: 60vw;
  height: 80vh;
  margin-left: 20vw;
  margin-top: 10vh;
  z-index: 70;
  background-color: white;
}
