<div class="backdrop">

  <div class="container my-style">
    <div class="row">
      <div class="col-sm-10 col-md-10 offset-sm-1 offset-md-1">
        <div class="card">
          <div class="card-header">
            <h4 class="text-center">
              Add New User Form
            </h4>
          </div>
          <div class="card-body">
            <form [formGroup] = "addUserForm">
              <!-- username -->
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-4 col-md-4">
                    <label for="username">Username : </label>
                  </div>
                  <div class="col-sm-8 col-md-8">
                    <input type="text" name="username" class="form-control" formControlName="name">
                  </div>
                </div>
              </div>
              <!-- email -->
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-4 col-md-4">
                    <label for="email">Email : </label>
                  </div>
                  <div class="col-sm-8 col-md-8">
                    <input type="email" name="email" class="form-control" formControlName="email">
                  </div>
                </div>
              </div>
              <!-- age -->
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-4 col-md-4">
                    <label for="age">Age : </label>
                  </div>
                  <div class="col-sm-8 col-md-8">
                    <input type="number" name="age" class="form-control" formControlName="age">
                  </div>
                </div>
              </div>
              <!-- Admin -->
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-4 col-md-4">
                    <label for="admin">Admin : </label>
                  </div>
                  <div class="col-sm-8 col-md-8">
                    <select name="admin" class="form-control" formControlName="isAdmin">
                      <option value="true">true</option>
                      <option value="false">false</option>
                    </select>
                  </div>
                </div>
              </div>
              <!-- Buttons -->
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6 col-sm-6">
                    <button class="btn btn-small btn-block btn-success"
                      (click) = "onSubmit()">Submit Form</button>
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <button class="btn btn-small btn-block btn-warning"
                      (click) ="onCancel()">Cancel Form</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
