<div class="container">

<!-- {{ dummyData | json }} -->
<div class="row">
  <div class="col-sm-6 col-md-6">
    <button class="btn btn-sm btn-danger" (click)="onDownload()">Download to Excel</button>
    <button class="btn btn-sm btn-danger" (click)="onDownloadDate()">Download to Excel - Date</button>
  </div>
  <div class="col-sm-6 col-md-6">
    <em class="fluid-right">
      <button class="btn btn-primary btn-sm" (click)="onAddNewUser()">
        {{ showForm ? "Hide Form" : "Add New User"  }}  </button>
    </em>
  </div>
</div>

<div *ngIf="showForm">
  <app-add-user (onCancelEvent) = "onCancel($event)"
  (onSubmitEvent) = "onSubmit($event)"></app-add-user>
</div>


  <br> <hr>
<!-- {{ rowData | json}} -->
<br>
  <ag-grid-angular
    style = "width : 800px; height: 300px;"
    [rowData] = "rowData"
    [columnDefs] = "columnDefs"
    pagination = true
    paginationAutoPageSize = true
    class="ag-theme-balham">
  </ag-grid-angular>


  <!-- <table class="table table-stripped table-hover">
    <thead>
      <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Email</td>
        <td>Age</td>
        <td>Admin</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user._id}}</td>
        <td>{{ user.name}}</td>
        <td>{{ user.email}}</td>
        <td>{{ user.age}}</td>
        <td>{{ user.isAdmin}}</td>
      </tr>
    </tbody>
  </table> -->
</div>
